<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headers.ejs')%>
        <link href="css/auth.css" rel="stylesheet">
        <title>User Registration</title>
</head>

<body>
    <div>
        <div>
            <div class="top_navbar center_text">
                <a href="/">Back to Home Page</a>
            </div>
            <div class="error">
                <% if(errors !=="") { %>
                    <% errors.forEach((item)=>{ %>
                        <div class="alert">
                            <%- item%>
                        </div>
                        <%})%>
                            <%}%>
            </div>
        </div>
        <form method="post" action="/register">
            <div>
                <div class="container top_navbar">
                    <fieldset>
                        <legend>Create a new account</legend>

                        <div class="group-input">
                            <label for="firstName">First name: </label>
                            <input type="text" name="firstName" id="firstName" value="<%= form.firstName %>">
                        </div>
                        <div class="group-input">
                            <label for="lastName">Last name: </label>
                            <input type="text" name="lastName" id="lastName" value="<%= form.lastName %>">
                        </div>
                        <div class="group-input">
                            <label for="email">Email: (<span style="color: red">*</span>)</label>
                            <input type="email" name="email" id="email" value="<%= form.email %>">
                        </div>
                        <div class="group-input">
                            <label for="city">City: (<span style="color: red">*</span>)</label>
                            <input type="text" name="city" id="city" value="<%= form.city %>">
                        </div>
                        <div class="group-input">
                            <label for="university">University:</label>
                            <input type="text" name="university" id="university" value="<%= form.university %>" placeholder="Leave blank if you are not currently at university">
                        </div>
                        <div class="group-input">
                            <label for="password">Password: (<span style="color: red">*</span>)</label>
                            <input type="password" name="password" id="password" required>
                        </div>
                        <div class="group-input">
                            <label for="confirmPassword">Confirm Password: (<span style="color: red">*</span>)</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" required>
                        </div>

                        <div class="group-input">
                            <label for="roleId">Enter your institute or administrator code:</label>
                            <input type="text" name="roleId" id="roleId" value="<%= form.roleId %>" placeholder=" Leave blank if you are a student ">
                        </div>

                        <button type="submit">Submit</button>
                    </fieldset>
                </div>
        </form>
        </div>
        <script href="js/script.js" type="text/js"></script>
</body>

</html>