<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/headers.ejs') %>
        <link href="css/auth.css" rel="stylesheet">
        <title>Add event</title>
</head>

<body>

    <div class="top_navbar center_text">
        <a href="/profile">Back to Profile</a>
    </div>

    <div>
        <div class="error">
            <% if(errors !=="") { %>
                <% errors.forEach((item)=>{ %>
                    <div class="alert">
                        <%- item%>
                    </div>
                    <%})%>
                        <%}%>
        </div>
        <form method="post" action="/addEvent" id="form">

            <div class="container">
                <fieldset>
                    <legend>
                        <h1>Add a new event</h1>
                    </legend>

                    <div class="group-input">
                        <label for="title">Title of the event: </label>
                        <input type="text" name="title" id="title" value="<%= form.title %>" required>
                    </div>
                    <div class="group-input">
                        <label for="description">Event description: </label>
                        <textarea class="form-control" name="description" id="description" value="<%= form.description %>" id="form" required>
                            </textarea>
                    </div>
                    <div class="group-input">
                        <label for="image">Upload Banner: (<span style="color: red">*</span>)</label>
                        <input type="file" name="image" id="image" value="<%= form.image %>" required>
                    </div>
                    <div class="group-input">
                        <label for="begin_at">Choose event start time: (<span style="color: red">*</span>)</label>
                        <input type="datetime-local" name="begin_at" id="begin_at" value="<% form.begin_at%>" required>
                    </div>
                    <div class="group-input">
                        <label for="ends_at">Choose event end time: (<span style="color: red">*</span>)</label>
                        <input type="datetime-local" name="ends_at" id="ends_at" value="<% form.ends_at%>" required>
                    </div>

                    <button type="submit">Submit</button>
                </fieldset>
            </div>
        </form>
    </div>
    <script href="js/script.js" type="text/js"></script>
</body>

</html>