<!DOCTYPE html>
<html lang="en">

<head>
    <title>Your profile</title>
    <%- include('partials/headers.ejs') %>
</head>

<body>
    <% if (user.roleId === 1){ %>
        <%- include('partials/navUser.ejs') %>
            <% } else if (user.roleId === 2 ) { %>
                <%- include('partials/navInstitute.ejs') %>
                    <% } else { %>
                        <%- include('partials/navAdmin.ejs') %>
                            <% } %>
                                <div>
                                    <div class="profile">
                                        Welcome back
                                        <%- user.lastName %>
                                    </div>

                                    <table class="table table-bordered table-hover formContainer" style="max-width: 40%; margin: 0 auto 0 auto">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="text-align: center;" colspan="2">Profile Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">First Name</th>
                                                <td>
                                                    <%- user.firstName%>
                                                </td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Last Name</th>
                                                <td>
                                                    <%- user.lastName%>
                                                </td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Email</th>
                                                <td>
                                                    <%- user.email%>
                                                </td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Phone Number</th>
                                                <td>
                                                    <%- user.phone%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">City</th>
                                                <td>
                                                    <%- user.city%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">University</th>
                                                <td>
                                                    <%- user.university%>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <script>
                                    const body = document.querySelector("body");
                                    const top_navbar = document.querySelector(".top_navbar");
                                    const menuBtn = document.querySelector(".menu-btn");
                                    const cancelBtn = document.querySelector(".cancel-btn");
                                    menuBtn.onclick = () => {
                                        top_navbar.classList.add("show");
                                        menuBtn.classList.add("hide");
                                        body.classList.add("disabled");
                                    }
                                    cancelBtn.onclick = () => {
                                        body.classList.remove("disabled");
                                        top_navbar.classList.remove("show");
                                        menuBtn.classList.remove("hide");
                                    }
                                    window.onscroll = () => {
                                        this.scrollY > 20 ? top_navbar.classList.add("sticky") : top_navbar.classList.remove("sticky");
                                    }
                                </script>
                                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                                <script href="../public/js/script.js" type="text/js"></script>

</body>

</html>